<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>INDEX</title>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-md py-5 navbar-dark bg-dark">
        <div class="container">
            <img src="/static/img/animeicon.webp" alt="" id="logo" class="position-absolute top-0 start-0" width="250"
                 height="136">
            <ul class="navbar-nav ml-auto">
                <li class=" nav-item"><a href="http://127.0.0.1:8000/index/" class="nav-link text-white"><h4>É POISÉ ANIMES</h4></a></li>
                <li class="nav-item active"><a href="http://127.0.0.1:8000/index/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Ajuda</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Redes Sociais</a></li>
                <form class="d-flex position-absolute bottom-60 end-0">
                    <br>
                    <a href="http://127.0.0.1:8000/adm/" class="btn btn-success" role="button"> Adminstrador </a>
                    <img src="/static/img/user.webp" alt="" id="logo" width="40" height="40">
                </form>
            </ul>
        </div>
    </nav>
</head>
<body>

<!-- BARRA DE BUSCA-->
<div class=" text-center mw-75 p-3 shadow p-3 mb-5 bg-warning rounded">
    <h2>Página Administrativa</h2>
</div>

<!--Carrosel-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card-wrapper container-sm d-flex  justify-content-around">
                <div class="card  " style="width: 18rem;">
                    <img src="/static/img/02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Naruto</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    99+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">One Piece</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    99+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Attack on Titan</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    68+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="card-wrapper container-sm d-flex   justify-content-around">
                <div class="card  " style="width: 18rem;">
                    <img src="/static/img/05.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Dragon Ball Z</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    55+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/06.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hunter x Hunter</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    08+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/static/img/07.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Family x Spy</h5>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary position-relative">
                                Views 👀
                                <span class="position-absolute top-0 start-100
                                translate-middle badge rounded-pill bg-danger text-wrap">
                                    99+<span class="visually-hidden">Novas Views</span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prévia</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <br>

    <!--ICONES 2-->
    <main>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="/static/img/05.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-primary">Dragon Ball Z</span>
                            </div>
                            <h5 class="card-title">1º Temporada</h5>
                            <div class="text-center my-4">
                                <a href="#" class="btn btn-success">Adicionar</a>
                                <a href="#" class="btn btn-danger">Remover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="/static/img/02.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-primary">Naruto</span>
                            </div>
                            <h5 class="card-title">6º Temporada</h5>
                            <div class="text-center my-4">
                                <a href="#" class="btn btn-success">Adicionar</a>
                                <a href="#" class="btn btn-danger">Remover</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="/static/img/03.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-primary">One Piece</span>
                            </div>
                            <h5 class="card-title">11 Temporada.</h5>
                            <div class="text-center my-4">
                                <a href="#" class="btn btn-success">Adicionar</a>
                                <a href="#" class="btn btn-danger">Remover</a>
                            </div>
                            <div class="clearfix mb-1">
                            <span class="float-start">
                                <i class="far fa-question-circle"></i>
                            </span>
                                <span class="float-end">
                                <i class="fas fa-plus"></i>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="/static/img/04.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="clearfix mb-3">
                                <span class="float-start badge rounded-pill bg-primary">Attack on Titan</span>
                            </div>
                            <h5 class="card-title">2 Temporada</h5>
                            <div class="text-center my-4">
                                <a href="#" class="btn btn-success">Adicionar</a>
                                <a href="#" class="btn btn-danger">Remover</a>
                            </div>
                            <div class="clearfix mb-1">
                            <span class="float-start">
                                <i class="far fa-question-circle"></i>
                            </span> <span class="float-end">
                            <i class="fas fa-plus"></i>
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--Grupo de Botões-->
    <div class="btn-toolbar mb-3 align-self-center mx-auto" role="toolbar">
        <div class="btn-group  align-self-center mx-auto" role="group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
        </div>
    </div>

    <!--RODAPÉ-->
    <footer class="bg-dark text-center text-white">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="bi bi-envelope-at-fill"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="bi bi-person"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="bi bi-telephone"></i>
            </a>
        </section>
        <section class="mb-4">
            <p>
                SITE DE ANIMES
            </p>
        </section>
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-white">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: Antonio Fanoel
            <a class="text-white" href="https://mdbootstrap.com/">Licenciatura em Computação</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
</body>
</html>