<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>INDEX</title>
    <!-- NAVBAR-->
    <nav class="navbar navbar-expand-md py-5 navbar-dark bg-dark">
        <div class="container">
            <img src="/static/img/animeicon.webp" alt="" id="logo" class="position-absolute top-0 start-0" width="250"
                 height="136">
            <ul class="navbar-nav ml-auto">
                <a href="#" class="navbar-brand">
                    É POISÉ ANIMES...
                </a>
                <li class="nav-item active"><a href="http://127.0.0.1:8000/index/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Ajuda</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Redes Sociais</a></li>
                <form class="d-flex position-absolute  end-0">
                    <br>
                    <a href="http://127.0.0.1:8000/adm/" class="btn btn-success" role="button">Login</a>
                    <img src="/static/img/user.webp" alt="" id="logo" width="40" height="40">
                </form>
            </ul>
        </div>
    </nav>
</head>
<body>
<!-- BARRA DE BUSCA-->
<div class="col-12 p-1 shadow p-1 mb-5 bg-white rounded">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">LANÇAMENTOS</a>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</div>

<!--VIDEO-->
<div class=" col-12 d-flex justify-content-center">
    <iframe width="700" height="400" src="https://www.youtube.com/embed/5M_EUcQgqB8"
            title="O PRIMEIRO EPISÓDIO DE NARUTO - Naruto Uzumaki Chegando - NARUTO CLÁSSICO DUBLADO" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</div>

<!--ICONES-->
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <!-- icone -->
                <div class="card-header text-center">
                    <img src="/static/img/01.jpg" alt="" class="mt-1 img-thumbnail">
                    <h6>Dragon Ball Z</h6>
                    <p>1 Episódio</p>

                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="box-shadow-full">
                <div class="card-header text-center">
                    <img src="/static/img/01.jpg" alt="" class="mt-1 img-thumbnail">
                    <h6>Dragon Ball Z</h6>
                    <p>2 Episódio</p>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box-shadow-full">
                <div class="row">
                    <div class="card-header text-center">
                        <img src="/static/img/01.jpg" alt="" class="mt-1 img-thumbnail">
                        <h6>Dragon Ball Z</h6>
                        <p>3 Episódio</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<!--ICONES 2-->
<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/static/img/05.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">Dragon Ball Z</span>
                        </div>
                        <h5 class="card-title">1º Temporada</h5>
                        <div class="text-center my-4">
                            <a href="#" class="btn btn-warning">Assista Agora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/static/img/02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">Naruto</span>
                        </div>
                        <h5 class="card-title">6º Temporada</h5>
                        <div class="text-center my-4"><a href="#" class="btn btn-warning">Assista Agora</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/static/img/03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">One Piece</span>
                        </div>
                        <h5 class="card-title">11 Temporada.</h5>
                        <div class="text-center my-4">
                            <a href="#" class="btn btn-warning">Assista Agora</a>
                        </div>
                        <div class="clearfix mb-1">
                            <span class="float-start">
                                <i class="far fa-question-circle"></i>
                            </span>
                            <span class="float-end">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="/static/img/04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3">
                            <span class="float-start badge rounded-pill bg-primary">Attack on Titan</span>
                        </div>
                        <h5 class="card-title">2 Temporada</h5>
                        <div class="text-center my-4">
                            <a href="#" class="btn btn-warning">Assista Agora</a>
                        </div>
                        <div class="clearfix mb-1">
                            <span class="float-start">
                                <i class="far fa-question-circle"></i>
                            </span> <span class="float-end">
                            <i class="fas fa-plus"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--Grupo de Botões-->
<div class="btn-toolbar mb-3 align-self-center mx-auto" role="toolbar">
    <div class="btn-group  align-self-center mx-auto" role="group">
        <button type="button" class="btn btn-secondary">1</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">3</button>
        <button type="button" class="btn btn-secondary">4</button>
    </div>
</div>

<!--RODAPÉ-->
<footer class="bg-dark text-center text-white">
    <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-envelope-at-fill"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-person"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-telephone"></i></a>
    </section>
    <section class="mb-4">
        <p>
            SITE DE ANIMES
        </p>
    </section>
    <!-- Section: Links -->
    <section class="">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </section>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Antonio Fanoel
        <a class="text-white" href="https://mdbootstrap.com/">Licenciatura em Computação</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>